body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007acc;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #005b99;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.back-btn:hover {
    background-color: #004080;
}

main {
    padding: 30px;
}

.formulario {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 10px #ccc;
}

.formulario label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.formulario input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formulario button {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.formulario button:hover {
    background-color: #005b99;
}
